In [13]:
#Question 1
import re
text = 'Python Exercises, PHP exercises.'
print(re.sub("[, .]",":",text))

Python:Exercises::PHP:exercises:

In [18]:
#Question 2
import pandas as pd
dictionary={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dictionary)
df['SUMMARY']=df['SUMMARY'].str.replace('[^a-zA-Z\s]','',regex=True)
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\shashwath\AppData\Local\Temp\ipykernel_20316\3179361952.py:4: SyntaxWarning: invalid escape sequence '\s'
  df['SUMMARY']=df['SUMMARY'].str.replace('[^a-zA-Z\s]','',regex=True)

In [22]:
#Question 3
import re
def FourChar(string):
  pattern = re.compile(r'\b\w{3,5}\b')
  matches = pattern.findall(string)
  return matches
#End of Function, Example is given below
string = "My name is Shashwath, This is my example"
result = FourChar(string)
print(result)

['name', 'This']

In [25]:
#Question 4
import re
def FourChar(string):
  pattern = re.compile(r'\b\w{3,6}\b')
  matches = pattern.findall(string)
  return matches
#End of Function, Example is given below
string = "I am Shashwath, This iss myy exmpl"
result = FourChar(string)
print(result)

['This', 'iss', 'myy', 'exmpl']

In [2]:
#Question 5
import re
def no_brac(strings):
    pattern = re.compile(r"\(|\)")
    modified_strings = []
    for string in strings:
        modified_string = re.sub(pattern, "", string)
        modified_strings.append(modified_string)
        return modified_strings
#End of Function
strings=(["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"])
solution=no_brac(strings)
print(solution)

['example .com']

In [5]:
#Question 6
import re
with open('question6.txt','r') as file:
    text=file.read()
    new_text=re.sub(r"\s*\([^)]*\)","",text)
    print(new_text)

["example", "hr@fliprobo", "github", "Hello", "Data"]

In [7]:
#Question 7
import re
text="ImportanceOfRegularExpressionsInPython"
result=re.findall('[A-Z][^A-Z]*', text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [10]:
#Question 8
import re
def insert_spaces(text):
  pattern = r'(\d+)([A-Za-z]+)'
  result = re.sub(pattern, r'\1 \2', text)
  return result
#End of Function, it is called below
sample = "RegularExpression1IsAn2ImportantTopic3InPython"
solution = insert_spaces(sample)
print(solution)

RegularExpression1 IsAn2 ImportantTopic3 InPython

In [12]:
#Question 9
import re
def insert_spaces(text):
  pattern = r'([A-Z][a-z0-9]+|\d+)'
  result = re.sub(pattern, r' \1', text)
  result = result.strip()
  return result
#End of Function, it is called below
question="RegularExpression1IsAn2ImportantTopic3InPython"
answer=insert_spaces(question)
print(answer)

Regular Expression1 Is An2 Important Topic3 In Python

In [15]:
#Question 10
import pandas as pd
link="https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"
df=pd.read_csv(link)
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [31]:
#Question 11
import re
def func(string):
  pattern=r'^[a-zA-Z0-9_]+$'
  if re.match(pattern, string):
      print("String matches the pattern")
  else:
      print("String does not match the pattern")
#End of function, example provided below
func("Shashwa_th5")  
func("SHa+sh")

String matches the pattern
String does not match the pattern

In [39]:
#Question 12
def function(string, number):
  if string.startswith(str(number)):
      return True
  else:
      return False
    
string = "5yj5a" #Here 5yj5a is just an example 
number = 5
if function(string, number):
  print("The string starts with the specified number.")
else:
  print("The string does not start with the specified number.")

The string starts with the specified number.

In [41]:
#Question 13
def function(ip_address):
  octets=ip_address.split('.')
  octets1 = [str(int(octet)) for octet in octets]
  Answer='.'.join(octets1)
  return Answer
#End of function, example provided below
ip_address = '191.578.002.001'
answer= function(ip_address)
print(answer)

191.578.2.1

In [50]:
#Question 14
import re
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."
pattern = r"\b([A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b"
matches = re.findall(pattern, text)
print(matches)

['August']

In [57]:
#Question 15
import re
pattern = [ 'fox', 'dog', 'horse' ]
string='The quick brown fox jumps over the lazy dog.'
for pattern in pattern:
    print('Searching for "%s" in "%s" ->' % (pattern,string),)
    if re.search(pattern,string):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [58]:
#Question 16
import re
pattern='fox'
string='The quick brown fox jumps over the lazy dog.'
match=re.search(pattern,string)
a= match.start()
z= match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, a,z))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [59]:
#Question 17
import re
string='Python exercises, PHP exercises, C# exercises'
pattern='exercises'
for match in re.findall(pattern,string):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [60]:
#Question 18
import re
text='Python exercises, PHP exercises, C# exercises' #I am using the same sample text as the previous question
pattern='exercises'
for match in re.finditer(pattern, text):
    a=match.start()
    z=match.end()
    print('Found "%s" at %d:%d' % (text[a:z], a,z))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [65]:
#Question 19
import re
def function(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
date = "2002-11-02" #I am using a random date of 2nd november 2002 as sample
print("Date in YYYY-MM-DD format: ",date)
print("Same date in DD-MM-YYYY format: ",function(date))

Date in YYYY-MM-DD format:  2002-11-02
Same date in DD-MM-YYYY format:  02-11-2002

In [67]:
#Question 20
import re
def find_decimal_numbers(string):
  pattern = re.compile(r'\d+\.\d{1,2}')
  decimal_numbers = re.findall(pattern, string)
  return decimal_numbers
Question= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Answer = find_decimal_numbers(Question)
print(Answer)
#The answer I got does not match the expected output given in the question paper because the answers for the second and third numbers (0132.123 and 2.31875) are not taken into account PLEASE CHECK THE QUESTION

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [69]:
#Question 21
import re
string="I am using 1 random sentence. Here is my number 2 random sentence."
for m in re.finditer("\d+",string):
    print(m.group(0))
    print("Index position:", m.start())

1
Index position: 11
2
Index position: 48

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\shashwath\AppData\Local\Temp\ipykernel_18640\2293348365.py:4: SyntaxWarning: invalid escape sequence '\d'
  for m in re.finditer("\d+",string):

In [71]:
#Question 22
import re
input_string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
numbers= re.findall(r'\d+', input_string)
numbers1= [int(value) for value in numbers]
Highest=max(numbers1)
print(Highest)

950

In [73]:
#Question 23
import re
def func(text):
  pattern = r'([A-Z][a-z]+)'
  result = re.sub(pattern, r' \1', text)
  result = result.strip()
  return result
question="RegularExpressionIsAnImportantTopicInPython"
answer=insert_spaces(question)
print(answer)

Regular Expression Is An Important Topic In Python

In [81]:
#Question 24
import re
def func(string):
        patterns = '[A-Z]+[a-z]+$'
        if re.search(patterns, string):
            return 'Found a match!'
        else:
            return('Not matched!')
print(func("Match"))
print(func("notMatch"))
print(func("python"))

Found a match!
Found a match!
Not matched!

In [83]:
#Question 25
import re
def remove_duplicates(sentence):
  pattern = r'\b(\w+)(\s+\1\b)+'
  result = re.sub(pattern, r'\1', sentence)
  return result
Question="Hello hello world world"
Answer=remove_duplicates(Question)
print(Answer)

Hello hello world

In [86]:
#Question 26
import re
def func(ex):
  question= r"\w$"
  match = re.search(question,ex)
  if match:
      return True
  else:
      return False
question= input("string")
if func(question):
  print("String ends with an alphanumeric character")
else:
  print("String does not end with an alphanumeric character")

string string

String ends with an alphanumeric character

In [ ]:
#Question 27

In [ ]:
#Question 28

In [ ]:
#Question 29

In [ ]:
#Question 30